body {
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    padding: 0;
    margin: 0;
}

strong {
    font-weight: 500;
}

#container {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    text-align: center;
    font-weight: 300;
}

h2 {
    font-size: 18px;
    font-weight: 400;
    text-decoration: underline;
}

.chunk {
    background-color: #DFECEC;
    margin-left: auto;
    margin-right: auto;
    width: 700px;
    padding: 10px;
    -moz-border-radius: 10px;
    margin-bottom: 10px;
}